/* Estilos generales */

:root {
  --color-1: #885c30;
  --color-2: #a46f39;
  --color-3: #be8143;
  --color-4: #c9935d;
  --color-5: #a5a5a5;
  --color-6: #b7b7b7;
  --color-7: #cacaca;
}


body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;

}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header, footer { 
  background-color: var(--color-1); /* Color de fondo consistente */
  color: white; /* Ajuste de color de texto para mejor contraste */
}

/* header */
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/***** menu-header  ******/

.nav-bar {
  text-decoration: none;
  color: white;
  
  
}

.navbar-nav{
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav-bar {
  justify-content: center;
}

.nav-item {
  list-style: none;
  font-size: 20px;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.nav-item a .icon-home {
  width: 60px;
  border-radius: 100%;
}

.menu_togle{
  display: none;
  cursor: pointer;
  font-size: 24px;
}

/***** menu-header  ******/

.header {
  width: 100%;
  height: 80px;
}

@media (max-width: 768px){
  #hambur-menu{
    display: none;
  }
  .menu_togle{
    display: flex;

  }
  .header-container{
    display: flex;
    justify-content: space-around;
    gap: 100px;
  }
  
}


button {
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  
}

/****************** footer ***********************/
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  color: white;
  cursor: default;
}

.footer-icons .social-icon {
  color: white;
}

.footer-container .location-icon {
  color: white;
}

.footer-icons ul {
  padding: 0px;
}

.icon-component {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 16px;
}

.icon-component a {
  color: #fff;
  text-decoration: none;
}

.icon-component p {
  margin: 0px;
} 

@media (max-width: 750px){
  .footer{
    display: flex;
    flex-direction: column;
    padding: 8px;
  }
}