
/* Contact.scss */

.contact-container{
    background-color: #a5a5a5;
    display: flex;
    padding: 50px;
    gap: 50px;

}

.image-girls{
    width: 600px;
    object-fit: cover;
    border-radius: 10px;
}

.form-container {
    padding: 20px;
    max-width: 600px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 100px;
    width: 300px;
    border-radius: 10px;
}

.contact-container div h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
    letter-spacing: 1px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

.form-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:  #be8143;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 200px;
    
}

.form-btn:hover {
    background-color: #885c30;
}

@media (max-width: 768px){
    .image-girls{
        display: none;
    }
}

@media (max-width: 750px){
    .contact-container{
        display: flex;
        justify-content: flex-end;
    }
}
