/* Work.scss */



.work-container {
    margin: 40px auto;
    overflow: hidden;
}

.work-title {
    text-align: center;
    margin-bottom: 20px;
}

.work-title h2 {
    color: #007bff;
    font-size: 24px;
}

.work-list {
    display: flex;
    position: relative;
    width: 100vw;
    background-image: url(../../../../public/images/corbata.jpg);
    background-size: cover;
    align-items: flex-end;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
    .item{
        padding: 50px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        transition: 0.2s;
        overflow: hidden;
    }
    &:has(.item#civil:hover) {
        background-image: url(../../../../public/images/giammarco-boscaro-eWpBNXRHfTI-unsplash.jpg);
    }
    &:has(.item#penal:hover) {
        background-image: url(../../../../public/images/corbata.jpg);
    }
    &:has(.item#laboral:hover) {
        background-image: url(../../../../public/images/tim-gouw-bwki71ap-y8-unsplash.jpg);
    }
    
}

.work-list h3 {
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    position: relative;
    z-index: 5;
}

.work-list p {
    color: #fff;
    font-size: 16px;
    position: relative;
    z-index: 5;
}



