/* Work.scss */



.work-container {
    margin: 40px auto;
}

.work-title {
    text-align: center;
    margin-bottom: 20px;
}

.work-title h2 {
    color: #007bff;
    font-size: 24px;
}

.work-list {
    display: flex;
    position: relative;
    width: 100vw;
    background-image: url(../../../../public/images/corbata.jpg);
    background-size: cover;
    align-items: flex-end;
    .item{
        padding: 50px;
        height: 600px;
        display: block;
        &::after{
            content: "";
            display: block;
            width: 100vw;
            height: 600px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }
    #civil{
        &:hover{
            background-image: url(../../../../public/images/tim-gouw-bwki71ap-y8-unsplash.jpg);
            background-size: cover;
        }
    }
    
}

.work-list h3 {
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    position: relative;
    z-index: 5;
}

.work-list p {
    color: #fff;
    font-size: 16px;
    position: relative;
    z-index: 5;
}



